/* Noto Color Emoji */

@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Color+Emoji&display=swap");

/* Chomsky */

@font-face {
  font-family: "Chomsky";
  src:
    url("assets/chomsky/font.woff2") format("woff2"),
    url("assets/chomsky/font.woff") format("woff"),
    url("assets/chomsky/font.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Gill Sans */

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("assets/gill-sans/Heavy Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
